# Ignorar archivos de configuración con secretos
.env
.env.local

# Ignorar archivos de respaldo
*.log
*~

# Ignorar solo los node_modules del directorio raíz
/node_modules

# Excluir solo los dist del directorio raíz
/dist